absl-py
aiohttp
alembic
antlr4-python3-runtime
appdirs
argon2-cffi
arrow
asteroid-filterbanks
asttokens
astunparse
atomicwrites
audioread
Automat
autopep8
av
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis
bokeh
boltons
Bottleneck
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
cloudpickle
clyent
colorama
colorcet
coloredlogs
colorlog
comm
confection
constantly
contourpy
cookiecutter
cryptography
cssselect
ctranslate2
cycler
cymem
cytoolz
dask
datashader
debugpy
decorator
deepface
defusedxml
deprecation
diff-match-patch
dill
diskcache
distributed
distro
dm-tree
dnspython
docopt
docstring-to-markdown
docutils
einops
email_validator
faiss-cpu
fastapi
faster-whisper
ffmpeg
filelock
fire
flake8
Flask
Flask-Login
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fsspec
future
gast
gdown
gensim
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
google-pasta
gotrue
greenlet
grpcio
gunicorn
h5py
HeapDict
hf-xet
holoviews
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hvplot
hyperframe
hyperlink
HyperPyYAML
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jax
jaxlib
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
julius
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras
keyring
kiwisolver
langcodes
lazy-object-proxy
lazy_loader
llvmlite
lmdb
locket
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mediapipe
mistune
ml_dtypes
more-itertools
mpmath
msgpack
mtcnn
multidict
multipledispatch
munkres
murmurhash
mysql-connector
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
num2words
numba
numexpr
numpy
numpydoc
oauthlib
ollama
omegaconf
onnxruntime
openai-whisper
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
optree
optuna
overrides
packaging
pandas
pandoc
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
plumbum
ply
pocketsphinx
pooch
postgrest
preshed
primePy
prometheus-client
prompt-toolkit
propcache
Protego
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyannote.audio
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-settings
pydeck
PyDispatcher
pydocstyle
pydub
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder
pyodbc
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
PyQtWebEngine
PySocks
pytest
pytest-mock
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart
python-slugify
python-snappy
pytoolconfig
pytorch-lightning
pytorch-metric-learning
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
realtime
referencing
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
retina-face
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa
Rtree
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
sentence-transformers
sentencepiece
service-identity
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
sounddevice
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
speechbrain
SpeechRecognition
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly
srt
sse-starlette
stack-data
starlette
starlette-context
statsmodels
storage3
streamlit
StrEnum
supabase
supafunc
sympy
tables
tabulate
tblib
tenacity
tensorboard
tensorboard-data-server
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-probability
termcolor
terminado
text-unidecode
textdistance
tf_keras
thinc
threadpoolctl
three-merge
tifffile
tiktoken
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
torch
torch-audiomentations
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
truststore
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
urllib3
uvicorn
uvloop
validators
vosk
w3lib
wasabi
watchdog
watchfiles
wcwidth
weasel
webencodings
webrtcvad
websockets
Werkzeug
whatthepatch
widgetsnbextension
word2number
wrapt
WTForms
wurlitzer
xarray
xgboost
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
