absl-py==2.1.0
aiohttp==3.11.18
alembic==1.15.2
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
argon2-cffi
arrow
asteroid-filterbanks==0.4.0
asttokens
astunparse==1.6.3
atomicwrites==1.4.0
audioread==3.0.1
Automat
autopep8
av==14.4.0
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
blis==0.7.11
bokeh
boltons
Bottleneck
Brotli
cachetools
catalogue==2.0.10
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib==0.16.0
cloudpickle
clyent==1.2.2
colorama
colorcet
coloredlogs==15.0.1
colorlog==6.9.0
comm
conda-verify==3.4.2
confection==0.1.4
constantly
contourpy==1.3.2
cookiecutter
cryptography
cssselect
ctranslate2==4.4.0
cycler
cymem==2.0.8
cytoolz
dask
datashader
debugpy
decorator
deepface==0.0.85
defusedxml
deprecation==2.1.0
diff-match-patch
dill
diskcache
distributed
distro
dm-tree==0.1.8
dnspython
docopt==0.6.2
docstring-to-markdown
docutils
einops==0.8.1
email_validator
faiss-cpu==1.11.0
fastapi
faster-whisper==1.1.1
ffmpeg==1.4
filelock==3.18.0
fire==0.5.0
flake8
Flask
Flask-Login==0.6.3
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.25.0
fsspec==2025.5.0
future
gast==0.5.4
gdown==5.1.0
gensim
gitdb
GitPython
gmpy2
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
gotrue==2.12.0
greenlet
grpcio==1.62.0
gunicorn==21.2.0
h5py==3.10.0
HeapDict
hf-xet==1.1.0
holoviews
hpack
httpcore
httptools
httpx
huggingface-hub==0.31.1
humanfriendly==10.0
hvplot
hyperframe
hyperlink
HyperPyYAML==1.2.2
idna
imagecodecs
imageio==2.37.0
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jax==0.6.0
jaxlib==0.6.0
jedi
jellyfish
Jinja2==3.1.6
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
julius==0.2.7
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.1.1
keyring
kiwisolver
langcodes==3.3.0
lazy-object-proxy
lazy_loader
llvmlite
lmdb
locket
lxml
lz4
Mako==1.3.10
Markdown
markdown-it-py
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mediapipe==0.10.21
menuinst
mistune
ml_dtypes==0.5.1
more-itertools
mpmath==1.3.0
msgpack
mtcnn==0.1.1
multidict
multipledispatch
munkres==1.1.4
murmurhash==1.0.10
mysql-connector==2.2.9
namex==0.0.7
nbclient
nbconvert
nbformat
nest-asyncio
networkx==3.4.2
nltk==3.9.1
notebook
notebook_shim
num2words==0.5.14
numba
numexpr
numpy==1.26.4
numpydoc
oauthlib==3.2.2
ollama==0.4.9
omegaconf==2.3.0
onnxruntime==1.22.0
openai-whisper==20240930
opencv-contrib-python==4.11.0.86
opencv-python==4.9.0.80
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
optuna==4.3.0
overrides
packaging
pandas==2.2.3
pandoc==2.4
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pexpect
pickleshare
pillow==11.2.1
pkce
pkginfo
platformdirs
plotly
pluggy
plumbum==1.8.3
ply==3.11
pocketsphinx==5.0.4
pooch==1.8.1
postgrest==1.0.2
preshed==3.0.9
primePy==1.3
prometheus-client
prompt-toolkit
propcache==0.3.1
Protego
protobuf==4.25.7
psutil
ptyprocess
pure-eval
py-cpuinfo
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic-settings
pydeck
PyDispatcher==2.0.5
pydocstyle
pydub==0.25.1
pyerfa
pyflakes
Pygments
PyJWT==2.10.1
pylint
pylint-venv
pyls-spyder==0.4.0
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
pytest-mock==3.14.0
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart
python-slugify
python-snappy
pytoolconfig
pytorch-lightning==2.5.1.post0
pytorch-metric-learning==2.8.1
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
realtime==2.4.3
referencing
regex
requests
requests-file
requests-oauthlib==1.3.1
requests-toolbelt
retina-face==0.0.14
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9
Rtree
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safetensors==0.5.3
scikit-image
scikit-learn
scipy==1.15.3
Scrapy
seaborn
semver==3.0.4
Send2Trash
sentence-transformers==4.1.0
sentencepiece==0.2.0
service-identity
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
sounddevice==0.5.1
soundfile==0.12.1
soupsieve
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.3
SpeechRecognition==3.10.1
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
srsly==2.4.8
srt==3.5.3
sse-starlette
stack-data
starlette
starlette-context
statsmodels
storage3==0.11.3
streamlit
StrEnum==0.4.15
supabase==2.15.1
supafunc==0.9.4
sympy==1.14.0
tables
tabulate
tblib
tenacity
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
tensorflow-probability==0.24.0
termcolor==2.4.0
terminado
text-unidecode
textdistance
tf_keras==2.16.0
thinc==8.2.3
threadpoolctl
three-merge
tifffile
tiktoken==0.9.0
tinycss2
tldextract
tokenizers==0.21.1
toml
tomlkit
toolz
torch==2.7.0
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.7.0
torchmetrics==1.7.1
torchvision==0.22.0
tornado
tqdm
traitlets
transformers==4.51.3
truststore
Twisted
typer==0.15.3
typer-slim==0.15.3
typing-inspection
typing_extensions==4.13.2
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
urllib3
uvicorn
uvloop
validators
vosk==0.3.44
w3lib
wasabi==1.1.2
watchdog
watchfiles
wcwidth
weasel==0.3.4
webencodings==0.5.1
webrtcvad==2.0.10
websockets==14.2
Werkzeug
whatthepatch
widgetsnbextension
word2number==1.1
wrapt
WTForms==3.1.2
wurlitzer
xarray
xgboost==2.1.1
xlwings
xyzservices
yapf
yarl==1.20.0
zict
zipp
zope.interface
zstandard